@media(max-width:480px)
{
   .logo a img{
       width: 7em;;
       margin-top: -60px;
       margin-left: -31px;;
   }
   
}

@media(max-width:768px)
{
   .logo a img{
       width: 7em;;
       margin-top: -60px;
       margin-left: -31px;
   }
}